{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Earnings in Task I
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h4>
    <ul>
    <p><li style="line-height : 150%">In Task 1, you will engage in a task, consisting of 5 rounds, and make independent decisions for each round.  </li></p>
    <p><li style="line-height : 150%">At the end of the this module, you will be randomly selected by a draw to determine if you will be earning payment for Task 1. </li></p>
    <p><li style="line-height : 150%">After the study has been completed, the research team will randomly group you with 4 other participants in order to determine your earnings.</li></p>
    <p><li style="line-height : 150%">The research team will inform you (via email or SMS) on your earnings a week after the study has been completed. </li></p>
    <p><li style="line-height : 150%">Therefore, please make a careful decision in each round as if it was selected for real payment.</li></p>
    </ul>
    </h4>

</div>


<style type="text/css">
p {
  font-size: 1.78vmin;
}

.uline {
    text-decoration: underline;
}

pg {
    padding-left:20px;
    position:relative;
}
pg:before {
    content: "";
    font-family:Arial;
    position:absolute;
    left:5px;
}

pg2 {
    padding-left:40px;
    position:relative;
}
pg2:before {
    content: "-";
    font-family:Arial;
    position:absolute;
    left:15px;
}

h4 {
  font-size: 4vmin;
}

/* 모바일 (가로 480px 미만) 용 스타일 */
@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}
  /* 480px 이상 */
}


ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}


</style>


    {% next_button %}

{% endblock %}
