{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Earnings in Task I
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h4>
    <ul>
    <p><li style="line-height : 150%">In this task, you will participate in 10 rounds of decision-making.</li></p>
    <p><li style="line-height : 150%">At the beginning of each round of this task, you will be randomly matched with four other participants to form a group.</li></p>
    <p>&nbsp;</p>
    <p><li style="line-height : 150%">If your group is selected for the earnings, one round out of 10 rounds will be randomly selected for you and your partners' earnings.</li></p>
    <p><li style="line-height : 150%">Therefore, please make a careful decision in each round as if it was selected for real payment.</li></p>
    <p><li style="line-height : 150%">In the selected round, your payment will be determined by the choices of you and other participants in group.</li></p>
    </ul>
    </h4>

</div>


<style type="text/css">
p {
  font-size: 1.78vmin;
}

.uline {
    text-decoration: underline;
}

pg {
    padding-left:20px;
    position:relative;
}
pg:before {
    content: "";
    font-family:Arial;
    position:absolute;
    left:5px;
}

pg2 {
    padding-left:40px;
    position:relative;
}
pg2:before {
    content: "-";
    font-family:Arial;
    position:absolute;
    left:15px;
}

h4 {
  font-size: 4vmin;
}

/* 모바일 (가로 480px 미만) 용 스타일 */
@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}
  /* 480px 이상 */
}


ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}


</style>


    {% next_button %}

{% endblock %}
