{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    第{{ Pseudo_round }}轮
{% endblock %}

{% block content %}
<h3> <p>你胜利了。</p>
<p>&nbsp;</p>
<p>你在本轮获得了$5。</p></h3>

<div id="test"><p>你选择了5。</p></div>

&nbsp;
<div id="test"> <p>
<table class="table table-responsive" align="center" width="auto" margin="auto" id="table">
    <tr>
  <td style="width : auto"><img src = "{% static "Race5_3/1_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/2_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/3_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/4_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/5_a.png" %}"/></td>
    </tr>
</table>
</p>
</div>


<input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="下一页">

<style type="text/css">

#table{
display:none;

}
#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

td{

    width:33%;

}
img { max-width: 100%;  }

 h4 {
  font-size: 4vmin;
}


 h3 {
  font-size: 6vmin;
}



h2 {
display: block;
font-size: 1.5em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }


.modal.modal-wide .modal-dialog {
  width: 100%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}

h3{
    font-size: 2.5vmin

}


h2 {
display: block;
font-size: 2.2em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }
  /* 480px 이상 */

.modal.modal-wide .modal-dialog {
  width: 50%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}


}

</style>
<script type="text/javascript">
$(document).ready(function(){
    $('#table').fadeIn(2000);
})

</script>

{% endblock %}



