{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question 13
{% endblock %}

{% block content %}

        <table class="table table-striped" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img src = "{% static "Readingtheeyes/Question13.png" %}"/>
                </td>
            </tr>

            <tr>
                <td>

                    <h4>
                    <p><font size="5pt" style="line-height:200%">
                        Choose the word that best describes what the person in the picture is thinking or feeling.
                    </font></p><p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="float: right">?</button></p>

                        <font size="5pt" style="line-height:200%">
                        {% formfield player.eye_q13 %}
                        </font>

                    </h4>

                </td>
            </tr>
            </tbody>



        </table>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Word Meaning</h4>
        </div>
        <div class="modal-body">
          <font size="4pt"><p>1.Thinking about something </p></font>
          <font size="4pt"><p>2.Upset : to make somebody/yourself feel unhappy, anxious or annoyed</p></font>
          <font size="4pt"><p>3.Excited : feeling or showing happiness and enthusiasm</p></font>
          <font size="4pt"><p>4.Happy : feeling or showing pleasure; pleased</p></font>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

    {% next_button %}

{% endblock %}
