{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question 11
{% endblock %}

{% block content %}

        <table class="table table-striped" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img src = "{% static "Readingtheeyes/Question11.png" %}"/>
                </td>
            </tr>

            <tr>
                <td>

                    <h4>
                    <p><font size="5pt" style="line-height:200%">
                        Choose the word that best describes what the person in the picture is thinking or feeling.
                    </font></p><p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="float: right">?</button></p>

                        <font size="5pt" style="line-height:200%">
                        {% formfield player.eye_q11 %}
                        </font>

                    </h4>

                </td>
            </tr>
            </tbody>



        </table>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Word Meaning</h4>
        </div>
        <div class="modal-body">
          <font size="4pt"><p>1.Bossy : always telling people what to do</p></font>
          <font size="4pt"><p>2.Hoping : to want something to happen and think that it is possible</p></font>
          <font size="4pt"><p>3.Angry : having strong feelings about something that you dislike very much or about an unfair situation</p></font>
          <font size="4pt"><p>4.Disgusted : a strong feeling of dislike or disapproval for somebody/something that you feel is unacceptable, or for something that looks, smells, etc. unpleasant</p></font>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
    {% next_button %}

{% endblock %}
