{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question 2
{% endblock %}

{% block content %}

        <table class="table table-striped" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img src = "{% static "Readingtheeyes/Question2.png" %}"/>
                </td>
            </tr>

            <tr>
                <td>

                    <h4>
                    <p><font size="5pt" style="line-height:200%">
                        [2]. Choose the word that best describes what the person in the picture is thinking or feeling.
                    </font></p>

                        <font size="5pt" style="line-height:200%">
                        {% formfield player.eye_q2 %}
                        </font>

                    </h4>

                </td>
            </tr>
            </tbody>



        </table>


    {% next_button %}

{% endblock %}
