{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Task II
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
<h4 style="line-height:150%">
 <ul>
<p><li>You will participate in 3 rounds of interactive decision-making.</li></p>
<p><li>In each round, you are asked to play one of "three variations" of the following decision-making against <b><font color="#dc143c">a computer player </font></b> who is programmed to make every choice to maximize the chance of its winning against you.</li></p>
<p><li>One of three rounds will be randomly selected for your earnings in Task II at the end of this module.</li> </p>
</ul>
</h4>

</div>
    {% next_button %}



 <style type="text/css">
 h4 {
  font-size: 4vmin;
}


 h3 {
  font-size: 6vmin;
}



h2 {
display: block;
font-size: 1.5em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }

@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}

h3{
    font-size: 2.5vmin

}


h2 {
display: block;
font-size: 2.2em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }
  /* 480px 이상 */
}

ul{

    padding-left:5px;
}




 </style>

{% endblock %}
