{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Task II
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
<h4 style="line-height:150%">
 <ul>
<p><li>In each round, the two players, you and the computer, alternately take turns to choose how many <b><font color="#008b8b">"STEPS"</font></b> to take.</li></p>
<p><li>You are the first mover.</li></p>
<p><li>In each turn you or the computer stands on the number of steps taken so far and decides up to K steps (1,2,...,K). </li></p>
<p><li>The player who gets to a <font color="#00008b"><b>"TARGET NUMBER"</b></font> first wins a round.</li></p>
<p><li>If you win, you receive $5. Otherwise, you receive $0 in a round.</li></p>

</ul>
</h4>

</div>
    {% next_button %}



 <style type="text/css">
 h4 {
  font-size: 4vmin;
}


 h3 {
  font-size: 6vmin;
}



h2 {
display: block;
font-size: 1.5em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }

@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}

h3{
    font-size: 2.5vmin

}


h2 {
display: block;
font-size: 2.2em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }
  /* 480px 이상 */
}

ul{

    padding-left:5px;
}




 </style>

{% endblock %}
