{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Cash Payment
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h4>
    <p>You can earn money in Task I and Task II.</p>
    <p>&nbsp;</p>
    <p style="line-height : 150%">1.	In Task I, your payment depends on a lucky draw which will take place at the end of this module.</p>
    <p style="line-height : 150%"><pg>The lucky draw selects one out of every 10 participants (10% chance of winning).</pg></p>
    <p style="line-height : 150%"><pg><font color="darkblue"><b>If you are selected</b></font>, your cash payment will be based on the decisions you make in Task I.</pg></p>
    <p style="line-height : 150%"><pg><font color="#dc143c"><b>Otherwise</b></font>, you will get $0 in Task I.</pg></p>
    <p>&nbsp;</p>
    <p style="line-height : 150%">2. In Task II, there is no lucky draw. Your cash payment will be based on the decisions you make in Task II.</p>
    </h4>

</div>


<style type="text/css">

.uline {
    text-decoration: underline;
}

pg {
    padding-left:20px;
    position:relative;
}
pg:before {
    content: "";
    font-family:Arial;
    position:absolute;
    left:5px;
}

pg2 {
    padding-left:40px;
    position:relative;
}
pg2:before {
    content: "-";
    font-family:Arial;
    position:absolute;
    left:15px;
}



</style>


    {% next_button %}

{% endblock %}
