{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Instruction
{% endblock %}

{% block content %}



<div class="instructions well well-lg">

    &nbsp;

    <h4>
      <ul>
     <li><p style="line-height: 150%"> Thank you very much for your participation in the special module of the Singapore Life Panel.</p></li>
      &nbsp;
     <li><p style="line-height: 150%">In the next 15-20 minutes, you will participate in 3 decision making tasks (Task I, Task II, and Task III).</p></li>
      &nbsp;
    <li> <p style="line-height: 150%">You will receive <b><font color="#00008b">$5</font></b> upon the completion of your participation. In addition, you can earn <b><font color="#00008b">more money as a cash payment</font></b> depending on choices of you and other participants. </p></li>
      &nbsp;
     <li><p style="line-height: 150%">Every participant will see the same instructions.</p></li>
     &nbsp;
     <li><p style="line-height: 150%">Please click on the next button to read the instructions.</p></li>
     </ul>
    </h4>

</div>



    {% next_button %}


<style type="text/css">


h4 {
  font-size: 4vmin;
}

/* 모바일 (가로 480px 미만) 용 스타일 */
@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}
  /* 480px 이상 */
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}

</style>



{% endblock %}
