{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Cash Payment
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h4>
    <p>You can earn money based on your decisions in Task I and Task II.</p>
    <p>&nbsp;</p>
    <p style="line-height : 150%">1.	In Task I, your payment depends on a random draw which will take place at the end of this module.</p>
    <p style="line-height : 150%">The random draw selects one out of every 10 participants (10% chance of winning) for real payment.</p>
    <p style="line-height : 150%"><font color="darkblue"><b>If you are selected</b></font>, your cash payment will be based on the decisions you in Task I.</p>
    <p style="line-height : 150%">Otherwise, you will get $0 in Task I./p>
    <p>&nbsp;</p>
    <p style="line-height : 150%">2. In Task II, there is no random draw. Your cash payment will be based on decisions you make in Task II.</p>
    </h4>

</div>


<style type="text/css">

.uline {
    text-decoration: underline;
}

pg {
    padding-left:20px;
    position:relative;
}
pg:before {
    content: "";
    font-family:Arial;
    position:absolute;
    left:5px;
}

pg2 {
    padding-left:40px;
    position:relative;
}
pg2:before {
    content: "-";
    font-family:Arial;
    position:absolute;
    left:15px;
}


p {
  font-size: 1.8vmin;
}


@media only screen and (min-width:320px) {
    p {
        font-size: 2.5vmin;
    }
}




</style>


    {% next_button %}

{% endblock %}
