{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    &nbsp;

    <h4>
     <p> Thank you very much for your participation in the special module of the Singapore Life Panel.</p>
      &nbsp;
     <p>In the next 10-20 minutes, you will participate in 3 decision making tasks (Task1, Task2, Task3).</p>
      &nbsp;
     <p style="line-height: 150%">You will receive <b><font color="#00008b">$5</font></b> upon completion of your participation. In addition, you can earn <b><font color="#00008b">more money as a cash payment</font></b> depending on your decision making. </p>
      &nbsp;
     <p style="line-height: 150%">Hence, please read the instructions on the next page very carefully.</p>
      &nbsp;
     <p>Please click on the next button to read the instructions.</p>
    </h4>

</div>


    {% next_button %}

{% endblock %}
