{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round {{ Pseudo_round }}
{% endblock %}

{% block content %}




{% if round_number > 1 %}

<tr><h3>The computer player chose <font color="red">{{player.previous_number}}</font>.</h3></tr>

{% else %}

<tr><h3>You are the first mover.</h3></tr>

{% endif %}

<div id="test">
  <p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#tallModal">Instruction</button></p>
</div>
  <!-- Modal -->
  <div class="modal modal-wide fade" id="tallModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Task I : Round {{ Pseudo_round }}</h4>
        </div>
        <div class="modal-body">
<p><font size="5pt" style="line-height: 200%"><b><font color="#00008b">TARGET NUMBER : 5 </font></b></font></p>
<h4 style="line-height: 150%">
<p>You are the first mover, in each turn you or the computer player can add a number between 1 and 3.</p>
<p>The player who gets to 5 first wins the game.</p>
<p>If you win the game, you receive $5. Otherwise, you receive $0.</p>
</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
&nbsp;
<div id="test">
<p><font size="6pt">Your Choice:</font></p>
</div>



<div id="test"><p>
{% if previous_number == 0 %}

    <p>
     <button name="Choice" value=1 class="btn btn-warning btn-lg round" onclick="myFunction1()"><font size="50">1</font></button>
     <button name="Choice" value=2 class="btn btn-warning btn-lg round" onclick="myFunction2()"><font size="50">2</font></button>
     <button name="Choice" value=3 class="btn btn-warning btn-lg round" onclick="myFunction3()"><font size="50">3</font></button>
    </p>


<table class="table table-responsive" align="center" width="auto" margin="auto" id="table">
    <tr>
  <td style="width : auto"><img src = "{% static "Race5_3/1_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/2_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/3_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/4_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/5_c.png" %}"/></td>
    </tr>
</table>

{%endif%}

{% if previous_number == 1 %}

    <p>
     <button name="Choice" value=2 class="btn btn-warning btn-lg round" onclick="myFunction2()"><font size="50">2</font></button>
     <button name="Choice" value=3 class="btn btn-warning btn-lg round" onclick="myFunction3()"><font size="50">3</font></button>
     <button name="Choice" value=4 class="btn btn-warning btn-lg round" onclick="myFunction4()"><font size="50">4</font></button>
    </p>



<table class="table table-responsive" align="center" width="auto" margin="auto" id="table">
    <tr>
  <td style="width : auto"><img src = "{% static "Race5_3/1_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/2_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/3_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/4_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/5_c.png" %}"/></td>
    </tr>
</table>


{%endif%}


{% if previous_number == 2 %}

    <p>
     <button name="Choice" value=3 class="btn btn-warning btn-lg round" onclick="myFunction3()"><font size="50">3</font></button>
     <button name="Choice" value=4 class="btn btn-warning btn-lg round" onclick="myFunction4()"><font size="50">4</font></button>
     <button name="Choice" value=5 class="btn btn-warning btn-lg round" onclick="myFunction5()"><font size="50">5</font></button>
    </p>


<table class="table table-responsive" align="center" width="auto" margin="auto" id="table">
    <tr>
  <td style="width : auto"><img src = "{% static "Race5_3/1_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/2_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/3_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/4_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/5_c.png" %}"/></td>
    </tr>
</table>

{%endif%}


{% if previous_number == 3 %}

    <p>
     <button name="Choice" value=4 class="btn btn-warning btn-lg round" onclick="myFunction4()"><font size="50">4</font></button>
     <button name="Choice" value=5 class="btn btn-warning btn-lg round" onclick="myFunction5()"><font size="50">5</font></button>
    </p>


<table class="table table-responsive" align="center" width="auto" margin="auto" id="table">
    <tr>
  <td style="width : auto"><img src = "{% static "Race5_3/1_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/2_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/3_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/4_b2.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/5_c.png" %}"/></td>
    </tr>
</table>
{%endif%}


{% if previous_number == 4 %}

    <p>
     <button name="Choice" value=5 class="btn btn-warning btn-lg round" onclick="myFunction5()"><font size="50">5</font></button>
    </p>


<table class="table table-responsive" align="center" width="auto" margin="auto" id="table">
    <tr>
  <td style="width : auto"><img src = "{% static "Race5_3/1_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/2_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/3_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/4_a.png" %}"/></td>
  <td style="width : auto"><img src = "{% static "Race5_3/5_c.png" %}"/></td>
    </tr>
</table>
{%endif%}



<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
    {% block scripts %}
        <script type="text/javascript">

            function myFunction() {
                var c = confirm("Is that correct? You choose ");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction1() {
                var c = confirm("Your choice is 1. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction2() {
                var c = confirm("Your choice is 2. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction3() {
                var c = confirm("Your choice is 3. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction4() {
                var c = confirm("Your choice is 4. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction5() {
                var c = confirm("Your choice is 5. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }

             function myFunction6() {
                var c = confirm("Your choice is 6. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }


             function myFunction7() {
                var c = confirm("Your choice is 7. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }

            function myFunction8() {
                var c = confirm("Your choice is 8. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction9() {
                var c = confirm("Your choice is 9. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }

            function myFunction10() {
                var c = confirm("Your choice is 10. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }

             function myFunction11() {
                var c = confirm("Your choice is 11. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }

             function myFunction12() {
                var c = confirm("Your choice is 12. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }

            function myFunction13() {
                var c = confirm("Your choice is 13. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
           function myFunction14() {
                var c = confirm("Your choice is 14. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction15() {
                var c = confirm("Your choice is 15. Please click the OK button to confirm.");
                if (!c) {
                event.preventDefault();
        }
        }
        </script>

    {% endblock %}

<style type="text/css">
 h4 {
  font-size: 4vmin;
}


 h3 {
  font-size: 6vmin;
}



h2 {
display: block;
font-size: 1.5em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }

.modal.modal-wide .modal-dialog {
  width: 100%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

@media only screen and (min-width: 480px) {

    h4 {
        font-size: 1.78vmin
    }

    h3 {
        font-size: 2.5vmin

    }

    h2 {
        display: block;
        font-size: 2.2em;
        margin-before: 0.83em;
        margin-after: 0.83em;
        margin-start: 0;
        margin-end: 0;
    }

    .modal.modal-wide .modal-dialog {
     width: 50%;
    }
    .modal-wide .modal-body {
  overflow-y: auto;
}
}





.width-150px{
    width: 90px;
    display: inline-block;
}


#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 50px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn-warning{

    width: 90px;
    display: inline-block;

}
.btn-xlarge {
    padding: 50px 70px;
    font-size: 33px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }
#table{
display:none;
}


td{

    width:33%;

}
img { max-width: 100%;  }
</style>


<script type="text/javascript">
$(document).ready(function(){
    $('#table').fadeIn(2000);
})

</script>

{% endblock %}
