{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
노동패널 부가조사
{% endblock %}

{% block content %}



<div class="instructions well well-lg">

    <h4>
      <ul>
     <li><p style="line-height: 150%">노동패널 부가조사에 참여해주셔서 감사합니다.</p></li>
     &nbsp;
     <li><p style="line-height: 150%">부가조사에 참여하기위해, 동의서의 조항들을 읽으신 뒤 서명해 주십시오.</p></li>
     &nbsp;
     <li><p style="line-height: 150%">모든 참여자는 동일한 지시서를 읽게 됩니다.</p></li>
     &nbsp;
     <li><p style="line-height: 150%">다음 버튼을 눌러 진행해주십시오.</p></li>
     </ul>
    </h4>

</div>



<input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="다음">


<style type="text/css">


h4 {
  font-size: 4vmin;
}

/* 모바일 (가로 480px 미만) 용 스타일 */
@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}
  /* 480px 이상 */
}

ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
}

</style>



{% endblock %}
