{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    라운드 {{ round_number }}
{% endblock %}

{% block content %}

<style type="text/css">
input.largerCheckbox
{
width: 20px;
height: 20px;
}
.modal.modal-wide .modal-dialog {
  width: 100%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
td{

    width:90px
}

@media only screen and (min-width: 480px) {

tr{
    height:45px
}

td{
    width:120px
}

h4 {
    font-size: 1.78vmin
}

h2 {
display: block;
font-size: 2.2em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }
  /* 480px 이상 */


.modal.modal-wide .modal-dialog {
  width: 50%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}


}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

</style>


{%  if current == 1 %}
<h4><p>당신은 <span style="color: crimson">A</span>에 위치해 있습니다.</p></h4>
<h4><p> &#x20a9;5000에서 &#x20a9;50000까지의 금액 중 하나를 선택해 주십시오. </p></h4>
&nbsp;
<h4>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;&#x20a9;5000<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;&#x20a9;10000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;&#x20a9;15000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;&#x20a9;20000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;&#x20a9;25000 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;&#x20a9;30000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;&#x20a9;35000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;&#x20a9;40000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;&#x20a9;45000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;&#x20a9;50000</label>&nbsp;&nbsp;</td>
</table>
&nbsp;
</h4>



<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">위치 A의 보수</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         <h4 class="modal-title"> <font color="#dc143c">위치 A</font>의 보수</h4>
        </div>
        <div class="modal-body">

        <h4 style="line-height: 150%;">
        <p>당신의 보수는 <b>2 부분</b>으로 구성됩니다.</p>
        <p>&nbsp;</p>
        <h4 style="line-height: 150%;;">
    <div style="padding-left:10px"><p>- 당신이 요구한 만큼의 금액을 보수로 지급받게 됩니다<font color="#00008b"><b>(첫번째 부분).</b></font></p></div>
    <div style="padding-left:10px"><p>- 당신은 다음의 경우 추가적인 보수를 지급받게 됩니다.<font color="#8b008b"><b>(두번째 부분).</b></font></p></div>
    <div style="padding-left:25px"><p> 1.	만약 당신이 위치 A에 있다면, 추가적인 보수는 <b>없습니다</b>.</p></div>
    <div style="padding-left:25px"><p> 2.	만약 당신이 위치 A가 <b>아닌 다른 위치라면</b>:</p></div>
<div style="padding-left:40px"><p> a.	당신의 이웃보다 정확히 <b><font color="crimson">&#x20a9;5000만큼 적게</font></b> 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;50000</font></b>을 받게 됩니다.</p></div>
<div style="padding-left:40px"><p> b.	당신의 이웃과 같은 금액을 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;25000</font></b>을 받게 됩니다.</p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>

    </div>
  </div>


        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein/PositionA.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}


{%  if current == 2 %}
<h4><p>당신은 <span style="color: crimson">B</span>에 위치해 있습니다.</p></h4>
<h4><p> &#x20a9;5000에서 &#x20a9;50000까지의 금액 중 하나를 선택해 주십시오. </p></h4>
&nbsp;
<h4>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;&#x20a9;5000<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;&#x20a9;10000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;&#x20a9;15000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;&#x20a9;20000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;&#x20a9;25000 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;&#x20a9;30000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;&#x20a9;35000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;&#x20a9;40000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;&#x20a9;45000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;&#x20a9;50000</label>&nbsp;&nbsp;</td>
</table>
&nbsp;
</h4>
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">위치 B의 보수</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">위치 B</font>의 보수</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;">
        <p>당신의 보수는 <b>2 부분</b>으로 구성됩니다.</p>
        <p>&nbsp;</p>
        <h4 style="line-height: 150%;;">
    <div style="padding-left:10px"><p>- 당신이 요구한 만큼의 금액을 보수로 지급받게 됩니다<font color="#00008b"><b>(첫번째 부분).</b></font></p></div>
    <div style="padding-left:10px"><p>- 당신은 다음의 경우 추가적인 보수를 지급받게 됩니다.<font color="#8b008b"><b>(두번째 부분).</b></font></p></div>
    <div style="padding-left:25px"><p> 1.	만약 당신이 위치 A에 있다면, 추가적인 보수는 <b>없습니다</b>.</p></div>
    <div style="padding-left:25px"><p> 2.	만약 당신이 위치 A가 <b>아닌 다른 위치라면</b>:</p></div>
<div style="padding-left:40px"><p> a.	당신의 이웃보다 정확히 <b><font color="crimson">&#x20a9;5000만큼 적게</font></b> 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;50000</font></b>을 받게 됩니다.</p></div>
<div style="padding-left:40px"><p> b.	당신의 이웃과 같은 금액을 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;25000</font></b>을 받게 됩니다.</p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>

    </div>
  </div>

        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein/PositionB.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}





{%  if current == 3 %}
<h4><p>당신은 <span style="color: crimson">C</span>에 위치해 있습니다.</p></h4>
<h4><p> &#x20a9;5000에서 &#x20a9;50000까지의 금액 중 하나를 선택해 주십시오. </p></h4>
&nbsp;
<h4>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;&#x20a9;5000<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;&#x20a9;10000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;&#x20a9;15000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;&#x20a9;20000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;&#x20a9;25000 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;&#x20a9;30000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;&#x20a9;35000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;&#x20a9;40000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;&#x20a9;45000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;&#x20a9;50000</label>&nbsp;&nbsp;</td>
</table>
&nbsp;
</h4>
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">위치 C의 보수</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">위치 C</font>의 보수</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;;">
        <p>당신의 보수는 <b>2 부분</b>으로 구성됩니다.</p>
    <div style="padding-left:10px"><p>- 당신이 요구한 만큼의 금액을 보수로 지급받게 됩니다<font color="#00008b"><b>(첫번째 부분).</b></font></p></div>
    <div style="padding-left:10px"><p>- 당신은 다음의 경우 추가적인 보수를 지급받게 됩니다.<font color="#8b008b"><b>(두번째 부분).</b></font></p></div>
    <div style="padding-left:25px"><p> 1.	만약 당신이 위치 A에 있다면, 추가적인 보수는 <b>없습니다</b>.</p></div>
    <div style="padding-left:25px"><p> 2.	만약 당신이 위치 A가 <b>아닌 다른 위치라면</b>:</p></div>
<div style="padding-left:40px"><p> a.	당신의 이웃보다 정확히 <b><font color="crimson">&#x20a9;5000만큼 적게</font></b> 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;50000</font></b>을 받게 됩니다.</p></div>
<div style="padding-left:40px"><p> b.	당신의 이웃과 같은 금액을 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;25000</font></b>을 받게 됩니다.</p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width ="300px" height="auto" src = "{% static "Rubinstein/PositionC.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}


{%  if current == 4 %}
<h4><p>당신은 <span style="color: crimson">D</span>에 위치해 있습니다.</p></h4>
<h4><p> &#x20a9;5000에서 &#x20a9;50000까지의 금액 중 하나를 선택해 주십시오. </p></h4>
&nbsp;
<h4>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;&#x20a9;5000<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;&#x20a9;10000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;&#x20a9;15000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;&#x20a9;20000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;&#x20a9;25000 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;&#x20a9;30000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;&#x20a9;35000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;&#x20a9;40000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;&#x20a9;45000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;&#x20a9;50000</label>&nbsp;&nbsp;</td>
</table>
&nbsp;
</h4>

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>
<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">위치 D의 보수</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">위치 D</font>의 보수</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;;">
            <p>당신의 보수는 <b>2 부분</b>으로 구성됩니다.</p>
    <div style="padding-left:10px"><p>- 당신이 요구한 만큼의 금액을 보수로 지급받게 됩니다<font color="#00008b"><b>(첫번째 부분).</b></font></p></div>
    <div style="padding-left:10px"><p>- 당신은 다음의 경우 추가적인 보수를 지급받게 됩니다.<font color="#8b008b"><b>(두번째 부분).</b></font></p></div>
    <div style="padding-left:25px"><p> 1.	만약 당신이 위치 A에 있다면, 추가적인 보수는 <b>없습니다</b>.</p></div>
    <div style="padding-left:25px"><p> 2.	만약 당신이 위치 A가 <b>아닌 다른 위치라면</b>:</p></div>
<div style="padding-left:40px"><p> a.	당신의 이웃보다 정확히 <b><font color="crimson">&#x20a9;5000만큼 적게</font></b> 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;50000</font></b>을 받게 됩니다.</p></div>
<div style="padding-left:40px"><p> b.	당신의 이웃과 같은 금액을 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;25000</font></b>을 받게 됩니다.</p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein/PositionD.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}



{%  if current == 5 %}
<h4><p>당신은 <span style="color: crimson">E</span>에 위치해 있습니다.</p></h4>
<h4><p> &#x20a9;5000에서 &#x20a9;50000까지의 금액 중 하나를 선택해 주십시오. </p></h4>
&nbsp;
<h4>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;&#x20a9;5000<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;&#x20a9;10000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;&#x20a9;15000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;&#x20a9;20000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;&#x20a9;25000 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;&#x20a9;30000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;&#x20a9;35000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;&#x20a9;40000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;&#x20a9;45000 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;&#x20a9;50000</label>&nbsp;&nbsp;</td>
</table>
&nbsp;
</h4>
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">위치 E의 보수</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">위치 E</font>의 보수</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;;">
            <p>당신의 보수는 <b>2 부분</b>으로 구성됩니다.</p>
    <div style="padding-left:10px"><p>- 당신이 요구한 만큼의 금액을 보수로 지급받게 됩니다<font color="#00008b"><b>(첫번째 부분).</b></font></p></div>
    <div style="padding-left:10px"><p>- 당신은 다음의 경우 추가적인 보수를 지급받게 됩니다.<font color="#8b008b"><b>(두번째 부분).</b></font></p></div>
    <div style="padding-left:25px"><p> 1.	만약 당신이 위치 A에 있다면, 추가적인 보수는 <b>없습니다</b>.</p></div>
    <div style="padding-left:25px"><p> 2.	만약 당신이 위치 A가 <b>아닌 다른 위치라면</b>:</p></div>
<div style="padding-left:40px"><p> a.	당신의 이웃보다 정확히 <b><font color="crimson">&#x20a9;5000만큼 적게</font></b> 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;50000</font></b>을 받게 됩니다.</p></div>
<div style="padding-left:40px"><p> b.	당신의 이웃과 같은 금액을 요구한 경우에 <b><font color="#dc143c">추가적으로 &#x20a9;25000</font></b>을 받게 됩니다.</p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
        </div>
      </div>

    </div>
  </div>


        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein/PositionE.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}

<script type="text/javascript">

$(".modal-wide").on("show.bs.modal", function() {
  var height = $(window).height() - 200;
  $(this).find(".modal-body").css("max-height", height);
});
x=document.getElementsByClassName("alert alert-danger");  // Find the element
        console.log(x)
        for(var i = 0; i < x.length; i++){
        x[i].innerText="Please choose between $5 and $50.";    // Change the content
        }
</script>


<input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="다음">

{% endblock %}
