{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    第{{ round_number }}轮
{% endblock %}

{% block content %}

<style type="text/css">
input.largerCheckbox
{
width: 20px;
height: 20px;
}
.modal.modal-wide .modal-dialog {
  width: 100%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
td{

    width:90px
}

@media only screen and (min-width: 480px) {

tr{
    height:45px
}

td{
    width:120px
}

h4 {
    font-size: 1.78vmin
}

h2 {
display: block;
font-size: 2.2em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }
  /* 480px 이상 */


.modal.modal-wide .modal-dialog {
  width: 50%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}


}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

</style>


{%  if current == 1 %}
<h4><p>你在位置<span style="color: crimson">A</span>。</p></h4>
<h4><p>请选择你想索取的金额，金额应在$5到$50之间并且是$5的倍数。</p></h4>
&nbsp;
<h3>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;$5<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;$10 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;$15 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;$20 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;$25 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;$30 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;$35 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;$40 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;$45 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;$50</label>&nbsp;&nbsp;</td>
</table>
&nbsp;
</h3>



<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">位置A的报酬信息</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">位置A</font>的报酬信息</h4>
        </div>
        <div class="modal-body">

        <h4 style="line-height: 150%;">
        <p>你的报酬将包含<b>两个部分。</b></p>
        <p>&nbsp;</p>
        <div style="padding-left:10px"><p> 你将得到你所索取的金额<font color="#00008b"><b>（第一部分）。</b></font></p></div>
        <div style="padding-left:10px"><p> 根据你所在的位置，你还可能得到额外的报酬<font color="#8b008b"><b>（第二部分）。</b></font></p></div>
        <div style="padding-left:20px"><p>1.	如果你在位置A,那么你将不会得到额外的报酬。</p></div>
        <div style="padding-left:20px"><p>2.	如果你不在位置A：</p></div>
        <div style="padding-left:30px"><p style="line-height:150%">a.	如果你索取的金额比你的对手<b><font color="crimson">正好少$5</font></b>,你将获得<b>额外的$50。</b></p></div>
        <div style="padding-left:30px"><p>b.	如果你索取的金额与你的对手一样,你将获得<b>额外的$25。</b></p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>

    </div>
  </div>


        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein_Chn/PositionA.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}


{%  if current == 2 %}
<h4><p>你在位置<span style="color: crimson">B</span>。</p></h4>
<h4><p>请选择你想索取的金额,金额应在$5到$50之间并且是$5的倍数。</p></h4>
&nbsp;
<h3>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;$5<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;$10 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;$15 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;$20 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;$25 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;$30 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;$35 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;$40 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;$45 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;$50</label>&nbsp;&nbsp;</td>
</table>

&nbsp;
</h3>
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">位置B的报酬信息</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">位置B</font>的报酬信息</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;">
        <p>你的报酬将包含<b>两个部分。</b></p>
        <p>&nbsp;</p>
        <div style="padding-left:10px"><p> 你将得到你所索取的金额<font color="#00008b"><b>（第一部分）。</b></font></p></div>
        <div style="padding-left:10px"><p> 根据你所在的位置,你还可能得到额外的报酬<font color="#8b008b"><b>（第二部分）。</b></font></p></div>
        <div style="padding-left:20px"><p>1.	如果你在位置A,那么你将不会得到额外的报酬。</p></div>
        <div style="padding-left:20px"><p>2.	如果你不在位置A：</p></div>
        <div style="padding-left:30px"><p style="line-height:150%">a.	如果你索取的金额比你的对手<b><font color="crimson">正好少$5</font></b>,你将获得<b>额外的$50。</b></p></div>
        <div style="padding-left:30px"><p>b.	如果你索取的金额与你的对手一样,你将获得<b>额外的$25。</b></p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>

    </div>
  </div>

        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein_Chn/PositionB.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}





{%  if current == 3 %}
<h4><p>你在位置<span style="color: crimson">C</span>。</p></h4>
<h4><p>请选择你想索取的金额,金额应在$5到$50之间并且是$5的倍数。</p></h4>
&nbsp;
<h3>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;$5<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;$10 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;$15 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;$20 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;$25 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;$30 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;$35 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;$40 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;$45 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;$50</label>&nbsp;&nbsp;</td>
</table>


&nbsp;
</h3>
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">位置C的报酬信息</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">位置C</font>的报酬信息</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;">
        <p>你的报酬将包含<b>两个部分。</b></p>
        <p>&nbsp;</p>
        <div style="padding-left:10px"><p> 你将得到你所索取的金额<font color="#00008b"><b>（第一部分）。</b></font></p></div>
        <div style="padding-left:10px"><p> 根据你所在的位置,你还可能得到额外的报酬<font color="#8b008b"><b>（第二部分）。</b></font></p></div>
        <div style="padding-left:20px"><p>1.	如果你在位置A,那么你将不会得到额外的报酬。</p></div>
        <div style="padding-left:20px"><p>2.	如果你不在位置A：</p></div>
        <div style="padding-left:30px"><p style="line-height:150%">a.	如果你索取的金额比你的对手<b><font color="crimson">正好少$5</font></b>,你将获得<b>额外的$50。</b></p></div>
        <div style="padding-left:30px"><p>b.	如果你索取的金额与你的对手一样,你将获得<b>额外的$25。</b></p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>

    </div>
  </div>

        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width ="300px" height="auto" src = "{% static "Rubinstein_Chn/PositionC.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}


{%  if current == 4 %}
<h4><p>你在位置<span style="color: crimson">D</span>。</p></h4>
<h4><p>请选择你想索取的金额,金额应在$5到$50之间并且是$5的倍数。</p></h4>
&nbsp;
<h3>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;$5<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer" value="10"><label for="12">&nbsp;&nbsp;$10 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer" value="15"><label for="13">&nbsp;&nbsp;$15 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer" value="20"><label for="14">&nbsp;&nbsp;$20 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;$25 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer" value="30"><label for="16"> &nbsp;&nbsp;$30 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;$35 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;$40 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;$45 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;$50</label>&nbsp;&nbsp;</td>
</table>

&nbsp;
</h3>

<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>
<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">位置D的报酬信息</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">位置D</font>的报酬信息</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;">
        <p>你的报酬将包含<b>两个部分。</b></p>
        <p>&nbsp;</p>
        <div style="padding-left:10px"><p> 你将得到你所索取的金额<font color="#00008b"><b>（第一部分）。</b></font></p></div>
        <div style="padding-left:10px"><p> 根据你所在的位置,你还可能得到额外的报酬<font color="#8b008b"><b>（第二部分）。</b></font></p></div>
        <div style="padding-left:20px"><p>1.	如果你在位置A,那么你将不会得到额外的报酬。</p></div>
        <div style="padding-left:20px"><p>2.	如果你不在位置A：</p></div>
        <div style="padding-left:30px"><p style="line-height:150%">a.	如果你索取的金额比你的对手<b><font color="crimson">正好少$5</font></b>,你将获得<b>额外的$50。</b></p></div>
        <div style="padding-left:30px"><p>b.	如果你索取的金额与你的对手一样,你将获得<b>额外的$25。</b></p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>

    </div>
  </div>


        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein_Chn/PositionD.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}



{%  if current == 5 %}
<h4><p>你在位置<span style="color: crimson">E</span>。</p></h4>
<h4><p>请选择你想索取的金额,金额应在$5到$50之间并且是$5的倍数。</p></h4>
&nbsp;
<h3>
<table align="center" style="text-align: center">
<tr>
<td><input type="radio" class="largerCheckbox" id="11" name="Answer"  value="5"><label for="11">&nbsp;&nbsp;$5<font color="#fffff" class="noselect">0</font> </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="12" name="Answer"  value="10"><label for="12">&nbsp;&nbsp;$10 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="13" name="Answer"  value="15"><label for="13">&nbsp;&nbsp;$15 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="14" name="Answer"  value="20"><label for="14">&nbsp;&nbsp;$20 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="15" name="Answer" value="25"><label for="15">&nbsp;&nbsp;$25 </label>&nbsp;&nbsp;</td>
</tr>
<td><input type="radio" class="largerCheckbox" id="16" name="Answer"  value="30"><label for="16"> &nbsp;&nbsp;$30 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="17" name="Answer" value="35"><label for="17"> &nbsp;&nbsp;$35 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="18" name="Answer" value="40"><label for="18"> &nbsp;&nbsp;$40 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="19" name="Answer" value="45"><label for="19"> &nbsp;&nbsp;$45 </label>&nbsp;&nbsp;</td>
<td><input type="radio" class="largerCheckbox" id="20" name="Answer" value="50"><label for="20"> &nbsp;&nbsp;$50</label>&nbsp;&nbsp;</td>
</table>

&nbsp;
</h3>
<style type="text/css">
    ul {
        list-style-type:circle;
        padding-left:20px;
    }
    h3.panel-sub-heading {
        padding-bottom:10px;
        padding-left:4px;
    }
</style>

<div id="test">
  <p><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tallModal">位置E的报酬信息</button></p>
</div>
  <!-- Modal -->
  <div id="tallModal" class="modal modal-wide fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> <font color="#dc143c">位置E</font>的报酬信息</h4>
        </div>
        <div class="modal-body">
        <h4 style="line-height: 150%;">
        <p>你的报酬将包含<b>两个部分。</b></p>
        <p>&nbsp;</p>
        <div style="padding-left:10px"><p> 你将得到你所索取的金额<font color="#00008b"><b>（第一部分）。</b></font></p></div>
        <div style="padding-left:10px"><p> 根据你所在的位置,你还可能得到额外的报酬<font color="#8b008b"><b>（第二部分）。</b></font></p></div>
        <div style="padding-left:20px"><p>1.	如果你在位置A,那么你将不会得到额外的报酬。</p></div>
        <div style="padding-left:20px"><p>2.	如果你不在位置A：</p></div>
        <div style="padding-left:30px"><p style="line-height:150%">a.	如果你索取的金额比你的对手<b><font color="crimson">正好少$5</font></b>,你将获得<b>额外的$50。</b></p></div>
        <div style="padding-left:30px"><p>b.	如果你索取的金额与你的对手一样,你将获得<b>额外的$25。</b></p></div></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </div>

    </div>
  </div>


        <table class="table" align="center">
            <tbody>

            <tr class="text-center">
                <td>
                <img width="300px" height="auto" src = "{% static "Rubinstein_Chn/PositionE.png" %}"/>
                </td>
            </tr>

            </tbody>

        </table>

{%  endif %}

<script type="text/javascript">

$(".modal-wide").on("show.bs.modal", function() {
  var height = $(window).height() - 200;
  $(this).find(".modal-body").css("max-height", height);
});
x=document.getElementsByClassName("alert alert-danger");  // Find the element
        console.log(x)
        for(var i = 0; i < x.length; i++){
        x[i].innerText="请在$5到$50之间选择一个金额。";    // Change the content
        }
</script>


<input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="下一页">

{% endblock %}
