{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    보수
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h4>
        <p style="line-height : 150%">과제1, 과제2에서 당신은 추가적인 보수를 받아갈 수 있습니다.</p>
      <p>&nbsp;</p>
     <ol>
        <li>
            <p style="line-height : 150%">과제1의 보수는 조사를 끝마친 뒤, 추첨에 따라 결정됩니다.</p>
            <p style="line-height : 150%">당첨 확률은 10%이며, 당첨 되시면, 실제 금액을 받아가게 됩니다.</p>
            <p style="line-height : 150%"><font color="darkblue"><b>당첨시</b></font>, 당신의 보수는 과제1에서의 당신의 선택과 다른 참여자의 선택에 의해 결정됩니다.</p>
            <p style="line-height : 150%">당첨이 되지 않는다면, 당신의 과제1의 보수는 ₩0 입니다.</p>
        </li>
         <p>&nbsp;</p>
         <li>
             <p style="line-height : 150%">과제2의 보수는 과제2에서 당신의 선택에 의해 결정됩니다.</p>
         </li>

     </ol>
</div>


<style type="text/css">
ol{
    padding-left: 15px;

}
.uline {
    text-decoration: underline;
}

pg {
    padding-left:20px;
    position:relative;
}
pg:before {
    content: "";
    font-family:Arial;
    position:absolute;
    left:5px;
}

pg2 {
    padding-left:40px;
    position:relative;
}
pg2:before {
    content: "-";
    font-family:Arial;
    position:absolute;
    left:15px;
}

h4 {
  font-size: 4vmin;
}

/* 모바일 (가로 480px 미만) 용 스타일 */
@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}
  /* 480px 이상 */
}



</style>


    {% next_button %}

{% endblock %}
