{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    任务II
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
<h4 style="line-height:150%">
 <ul>
<p><li>你将参与4轮交互式决策任务。</li></p>
<p><li>每一轮中，你将被邀请与<b><font color="#dc143c">电脑玩家</font></b>一同进行以下决策任务中<b>“四个回合”</b>的其中一回合。该电脑玩家已被设定在每一次选择中计算击败你的可能性，并作出能够最大化这个可能性的选择。</li></p>
<p><li>整个单元结束后将会有其中一轮被随机抽取，用以计算你在任务II中报酬。</li> </p>
</ul>
</h4>

</div>
<input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="下一页">



 <style type="text/css">
 h4 {
  font-size: 4vmin;
}


 h3 {
  font-size: 6vmin;
}



h2 {
display: block;
font-size: 1.5em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }

@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}

h3{
    font-size: 2.5vmin

}


h2 {
display: block;
font-size: 2.2em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }
  /* 480px 이상 */
}

ul{

    padding-left:5px;
}




 </style>

{% endblock %}
