{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
     任务II练习轮
{% endblock %}

{% block content %}
<h4 style="line-height: 150%"><p>你在第一把中选择了前进{% if practice == 1 %} <font color="#ff8c00" size="5pt"><b>1</b></font>{% elif practice == 2 %} <font color="#ff8c00" size="5pt"><b>2</b></font> {% else %} <font color="#ff8c00" size="5pt"><b>3</b></font>{% endif %}步。</p></h4>
<h4 style="line-height: 150%"><p>在第二把中，电脑玩家可以选择前进1步，2步或3步。</p></h4>
<h4 style="line-height: 150%"><p>这表示电脑玩家将选择前进至数字
{% if practice == 1 %}
<font color="#ff8c00" size="5pt"><b>②</b></font>到<font color="#ff8c00" size="5pt"><b>④</b></font>。
{% elif practice == 2 %}
<font color="#ff8c00" size="5pt"><b>③</b></font>到<font color="#ff8c00" size="5pt"><b>⑤</b></font>。
{% else %}
<font color="#ff8c00" size="5pt"><b>④</b></font>到<font color="#ff8c00" size="5pt"><b>⑥</b></font>。
{% endif %}
</p>
<p>&nbsp;</p>
{% if practice == 1 %}
<p> 选择<font color="#ff8c00" size="5pt"><b>②</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>①</b></font>开始前进1步。</p>
<p> 选择<font color="#ff8c00" size="5pt"><b>③</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>①</b></font>开始前进2步。</p>
<p> 选择<font color="#ff8c00" size="5pt"><b>④</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>①</b></font>开始前进3步。</p>
{% elif practice == 2 %}
<p> 选择<font color="#ff8c00" size="5pt"><b>③</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>②</b></font>开始前进1步。</p>
<p> 选择<font color="#ff8c00" size="5pt"><b>④</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>②</b></font>开始前进2步。</p>
<p> 选择<font color="#ff8c00" size="5pt"><b>⑤</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>②</b></font>开始前进3步。</p>
{% else %}
<p> 选择<font color="#ff8c00" size="5pt"><b>④</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>③</b></font>开始前进1步。</p>
<p> 选择<font color="#ff8c00" size="5pt"><b>⑤</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>③</b></font>开始前进2步。</p>
<p> 选择<font color="#ff8c00" size="5pt"><b>⑥</b></font>表示电脑玩家将从<font color="#ff8c00" size="5pt"><b>③</b></font>开始前进3步。</p>
{% endif %}
</h4>
<p>&nbsp;</p>
<h4 style="line-height: 150%"><p><b>说明2：请点击下一页按钮。</b></p>
&nbsp;


<div id="test"><p>电脑玩家正在思考</p></div>
<div id="test"><p><img src = "{% static "Race/Person-info.png" %}"/></p>
</div>

{% if practice == 1 %}
<div id="test"> <p>
<table class="table table-responsive" align="center" style="text-align : center">
    <tr>
  <td style="width:25%;"><img src = "{% static "Race/1_a.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/2_b.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/3_b.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/4_b.png" %}"/></td>
    </tr>
    <tr>
   <td style="width:25%;"><img src = "{% static "Race/5_b.png" %}"/></td>
   <td style="width:25%;"><img src = "{% static "Race/6_b.png" %}"/></td>
   <td style="width:25%;"><img src = "{% static "Race/7_c.png" %}"/></td>
    </tr>

</table>
</div>
{% elif practice == 2 %}
<div id="test"> <p>
<table class="table table-responsive" align="center" style="text-align : center">
    <tr>
  <td style="width:25%;"><img src = "{% static "Race/1_a.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/2_a.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/3_b.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/4_b.png" %}"/></td>
    </tr>
    <tr>
   <td style="width:25%;"><img src = "{% static "Race/5_b.png" %}"/></td>
   <td style="width:25%;"><img src = "{% static "Race/6_b.png" %}"/></td>
   <td style="width:25%;"><img src = "{% static "Race/7_c.png" %}"/></td>
    </tr>

</table>
</div>
{% else %}
<div id="test"> <p>
<table class="table table-responsive" align="center" style="text-align : center">
    <tr>
  <td style="width:25%;"><img src = "{% static "Race/1_a.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/2_a.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/3_a.png" %}"/></td>
  <td style="width:25%;"><img src = "{% static "Race/4_b.png" %}"/></td>
    </tr>
    <tr>
   <td style="width:25%;"><img src = "{% static "Race/5_b.png" %}"/></td>
   <td style="width:25%;"><img src = "{% static "Race/6_b.png" %}"/></td>
   <td style="width:25%;"><img src = "{% static "Race/7_c.png" %}"/></td>
    </tr>

</table>
</div>

{% endif %}

<input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="下一页">



<style type="text/css">
 h4 {
  font-size: 4vmin;
}


 h3 {
  font-size: 6vmin;
}



h2 {
display: block;
font-size: 1.5em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }

@media only screen and (min-width: 480px) {

h4 {
    font-size: 1.78vmin
}

h3{
    font-size: 2.5vmin

}


h2 {
display: block;
font-size: 2.2em;
margin-before: 0.83em;
margin-after: 0.83em;
margin-start: 0;
margin-end: 0; }
  /* 480px 이상 */
}

ul{

    padding-left:5px;
}



@keyframes ballsWaveG{
	0%{
		background-color:rgb(184,233,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes ballsWaveG{
	0%{
		background-color:rgb(184,233,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes ballsWaveG{
	0%{
		background-color:rgb(184,233,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes ballsWaveG{
	0%{
		background-color:rgb(184,233,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes ballsWaveG{
	0%{
		background-color:rgb(184,233,255);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}



#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

td{
    width:20%;
}
img { max-width: 100%;  }
</style>
{% endblock %}


