{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round {{ Pseudo_round }}
{% endblock %}

{% block content %}
<h3> <p>You win.</p>
<p>&nbsp;</p>
<p>Your earning in this round is $5.</p></h3>

<div id="test"><p>You choose 10.</p></div>

&nbsp;
<div id="test" style="resize:both;">


<table class="table" align="center">
    <tr>
    <td><img src = "{% static "Race/1_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/2_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/3_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/4_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/5_a.png" %}" style="width:auto; height:auto"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/7_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/8_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/9_a.png" %}" style="width:auto; height:auto"/></td>
    <td><img src = "{% static "Race/10_a.png" %}" style="width:auto; height:auto"/></td>
    </tr>
</table>


</div>


        {% next_button %}

<style type="text/css">

#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


</style>


{% endblock %}



