{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice (Round {{player.round_number}})
{% endblock %}

{% block content %}


{% if round_number > 1 %}

<tr><h3>The other player choose <font color="red">{{player.previous_number}}</font></h3></tr>

{% else %}

<tr><h3>You are the first mover.</h3></tr>

{% endif %}


&nbsp;
<h3>Your Choice:</h3>



<div id="test"><p>
{% if previous_number == 0 %}

    <p>

     <button name="Choice" value=1 class="btn btn-warning btn-lg round" onclick="myFunction1()"><font size="50">1</font></button>
     <button name="Choice" value=2 class="btn btn-warning btn-lg round" onclick="myFunction2()"><font size="50">2</font></button>
     <button name="Choice" value=3 class="btn btn-warning btn-lg round" onclick="myFunction3()"><font size="50">3</font></button>
    </p>

<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_b.png" %}"/></td>
  <td><img src = "{% static "Race/2_b.png" %}"/></td>
  <td><img src = "{% static "Race/3_b.png" %}"/></td>
  <td><img src = "{% static "Race/4_b.png" %}"/></td>
  <td><img src = "{% static "Race/5_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_b.png" %}"/></td>
    <td><img src = "{% static "Race/7_b.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>

{%endif%}

{% if previous_number == 1 %}
    <p>

     <button name="Choice" value=2 class="btn btn-warning btn-lg round" onclick="myFunction2()"><font size="50">2</font></button>
     <button name="Choice" value=3 class="btn btn-warning btn-lg round" onclick="myFunction3()"><font size="50">3</font></button>
     <button name="Choice" value=4 class="btn btn-warning btn-lg round" onclick="myFunction4()"><font size="50">4</font></button>
    </p>

<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_b.png" %}"/></td>
  <td><img src = "{% static "Race/3_b.png" %}"/></td>
  <td><img src = "{% static "Race/4_b.png" %}"/></td>
  <td><img src = "{% static "Race/5_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_b.png" %}"/></td>
    <td><img src = "{% static "Race/7_b.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>

{%endif%}


{% if previous_number == 2 %}

    <p>

     <button name="Choice" value=3 class="btn btn-warning btn-lg round" onclick="myFunction3()"><font size="50">3</font></button>
     <button name="Choice" value=4 class="btn btn-warning btn-lg round" onclick="myFunction4()"><font size="50">4</font></button>
     <button name="Choice" value=5 class="btn btn-warning btn-lg round" onclick="myFunction5()"><font size="50">5</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_b.png" %}"/></td>
  <td><img src = "{% static "Race/4_b.png" %}"/></td>
  <td><img src = "{% static "Race/5_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_b.png" %}"/></td>
    <td><img src = "{% static "Race/7_b.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}


{% if previous_number == 3 %}

    <p>

     <button name="Choice" value=4 class="btn btn-warning btn-lg round" onclick="myFunction4()"><font size="50">4</font></button>
     <button name="Choice" value=5 class="btn btn-warning btn-lg round" onclick="myFunction5()"><font size="50">5</font></button>
     <button name="Choice" value=6 class="btn btn-warning btn-lg round" onclick="myFunction6()"><font size="50">6</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_b.png" %}"/></td>
  <td><img src = "{% static "Race/5_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_b.png" %}"/></td>
    <td><img src = "{% static "Race/7_b.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}


{% if previous_number == 4 %}
    <p>

     <button name="Choice" value=5 class="btn btn-warning btn-lg round" onclick="myFunction5()"><font size="50">5</font></button>
     <button name="Choice" value=6 class="btn btn-warning btn-lg round" onclick="myFunction6()"><font size="50">6</font></button>
     <button name="Choice" value=7 class="btn btn-warning btn-lg round" onclick="myFunction7()"><font size="50">7</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_b.png" %}"/></td>
    <td><img src = "{% static "Race/7_b.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}


{% if previous_number == 5 %}
    <p>

     <button name="Choice" value=6 class="btn btn-warning btn-lg round" onclick="myFunction6()"><font size="50">6</font></button>
     <button name="Choice" value=7 class="btn btn-warning btn-lg round" onclick="myFunction7()"><font size="50">7</font></button>
     <button name="Choice" value=8 class="btn btn-warning btn-lg round" onclick="myFunction8()"><font size="50">8</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_b.png" %}"/></td>
    <td><img src = "{% static "Race/7_b.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}


{% if previous_number == 6 %}
    <p>

     <button name="Choice" value=7 class="btn btn-warning btn-lg round" onclick="myFunction7()"><font size="50">7</font></button>
     <button name="Choice" value=8 class="btn btn-warning btn-lg round" onclick="myFunction8()"><font size="50">8</font></button>
     <button name="Choice" value=9 class="btn btn-warning btn-lg round" onclick="myFunction9()"><font size="50">9</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_b.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}

{% if previous_number == 7 %}
    <p>

     <button name="Choice" value=8 class="btn btn-warning btn-lg round" onclick="myFunction8()"><font size="50">8</font></button>
     <button name="Choice" value=9 class="btn btn-warning btn-lg round" onclick="myFunction9()"><font size="50">9</font></button>
     <button name="Choice" value=10 class="btn btn-warning btn-lg round" onclick="myFunction10()"><font size="50">10</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_b.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}

{% if previous_number == 8 %}
    <p>

     <button name="Choice" value=9 class="btn btn-warning btn-lg round" onclick="myFunction9()"> <font size="50">9</font></button>
     <button name="Choice" value=10 class="btn btn-warning btn-lg round" onclick="myFunction10()"><font size="50">10</font></button>
     <button name="Choice" value=11 class="btn btn-warning btn-lg round" onclick="myFunction11()"><font size="50">11</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_a.png" %}"/></td>
    <td><img src = "{% static "Race/9_b.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}

{% if previous_number == 9 %}

    <p>

     <button name="Choice" value=10 class="btn btn-warning btn-lg round" onclick="myFunction10()"> <font size="50">10</font></button>
     <button name="Choice" value=11 class="btn btn-warning btn-lg round" onclick="myFunction11()"><font size="50">11</font></button>
     <button name="Choice" value=12 class="btn btn-warning btn-lg round" onclick="myFunction12()"><font size="50">12</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_a.png" %}"/></td>
    <td><img src = "{% static "Race/9_a.png" %}"/></td>
    <td><img src = "{% static "Race/10_b.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}

{% if previous_number == 10 %}

    <p>

     <button name="Choice" value=11 class="btn btn-warning btn-lg round" onclick="myFunction11()"> <font size="50">11</font></button>
     <button name="Choice" value=12 class="btn btn-warning btn-lg round" onclick="myFunction12()"><font size="50">12</font></button>
     <button name="Choice" value=13 class="btn btn-warning btn-lg round" onclick="myFunction13()"><font size="50">13</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_a.png" %}"/></td>
    <td><img src = "{% static "Race/9_a.png" %}"/></td>
    <td><img src = "{% static "Race/10_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_b.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}

{% if previous_number == 11 %}

        <p>

     <button name="Choice" value=12 class="btn btn-warning btn-lg round" onclick="myFunction12()"> <font size="50">12</font></button>
     <button name="Choice" value=13 class="btn btn-warning btn-lg round" onclick="myFunction13()"><font size="50">13</font></button>
     <button name="Choice" value=14 class="btn btn-warning btn-lg round" onclick="myFunction14()"><font size="50">14</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_a.png" %}"/></td>
    <td><img src = "{% static "Race/9_a.png" %}"/></td>
    <td><img src = "{% static "Race/10_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_a.png" %}"/></td>
    <td><img src = "{% static "Race/12_b.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}

{% if previous_number == 12 %}

    <p>

     <button name="Choice" value=13 class="btn btn-warning btn-lg round" onclick="myFunction13()"> <font size="50">13</font></button>
     <button name="Choice" value=14 class="btn btn-warning btn-lg round" onclick="myFunction14()"><font size="50">14</font></button>
     <button name="Choice" value=15 class="btn btn-warning btn-lg round" onclick="myFunction15()"><font size="50">15</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_a.png" %}"/></td>
    <td><img src = "{% static "Race/9_a.png" %}"/></td>
    <td><img src = "{% static "Race/10_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_a.png" %}"/></td>
    <td><img src = "{% static "Race/12_a.png" %}"/></td>
    <td><img src = "{% static "Race/13_b.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}


{% if previous_number == 13 %}
    <p>
     <button name="Choice" value=14 class="btn btn-warning btn-lg round" onclick="myFunction14()"><font size="50">14</font></button>
     <button name="Choice" value=15 class="btn btn-warning btn-lg round" onclick="myFunction15()"><font size="50">15</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_a.png" %}"/></td>
    <td><img src = "{% static "Race/9_a.png" %}"/></td>
    <td><img src = "{% static "Race/10_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_a.png" %}"/></td>
    <td><img src = "{% static "Race/12_a.png" %}"/></td>
    <td><img src = "{% static "Race/13_a.png" %}"/></td>
    <td><img src = "{% static "Race/14_b.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}


{% if previous_number == 14 %}
        <p>
     <button name="Choice" value=15 class="btn btn-warning btn-lg round" onclick="myFunction15()"><font size="50">15</font></button>
    </p>
<table class="table" align="center">
    <tr>
  <td><img src = "{% static "Race/1_a.png" %}"/></td>
  <td><img src = "{% static "Race/2_a.png" %}"/></td>
  <td><img src = "{% static "Race/3_a.png" %}"/></td>
  <td><img src = "{% static "Race/4_a.png" %}"/></td>
  <td><img src = "{% static "Race/5_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/6_a.png" %}"/></td>
    <td><img src = "{% static "Race/7_a.png" %}"/></td>
    <td><img src = "{% static "Race/8_a.png" %}"/></td>
    <td><img src = "{% static "Race/9_a.png" %}"/></td>
    <td><img src = "{% static "Race/10_a.png" %}"/></td>
    </tr>
    <tr>
    <td><img src = "{% static "Race/11_a.png" %}"/></td>
    <td><img src = "{% static "Race/12_a.png" %}"/></td>
    <td><img src = "{% static "Race/13_a.png" %}"/></td>
    <td><img src = "{% static "Race/14_a.png" %}"/></td>
    <td><img src = "{% static "Race/15_b.png" %}"/></td>
    </tr>
</table>
{%endif%}
</p>

</div>
<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
    {% block scripts %}
        <script type="text/javascript">

            function myFunction() {
                var c = confirm("Is that correct? You choose ");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction1() {
                var c = confirm("Is that correct? You choose 1");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction2() {
                var c = confirm("Is that correct? You choose 2");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction3() {
                var c = confirm("Is that correct? You choose 3");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction4() {
                var c = confirm("Is that correct? You choose 4");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction5() {
                var c = confirm("Is that correct? You choose 5");
                if (!c) {
                event.preventDefault();
        }
        }

             function myFunction6() {
                var c = confirm("Is that correct? You choose 6");
                if (!c) {
                event.preventDefault();
        }
        }


             function myFunction7() {
                var c = confirm("Is that correct? You choose 7");
                if (!c) {
                event.preventDefault();
        }
        }

            function myFunction8() {
                var c = confirm("Is that correct? You choose 8");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction9() {
                var c = confirm("Is that correct? You choose 9");
                if (!c) {
                event.preventDefault();
        }
        }

            function myFunction10() {
                var c = confirm("Is that correct? You choose 10");
                if (!c) {
                event.preventDefault();
        }
        }

             function myFunction11() {
                var c = confirm("Is that correct? You choose 11");
                if (!c) {
                event.preventDefault();
        }
        }

             function myFunction12() {
                var c = confirm("Is that correct? You choose 12");
                if (!c) {
                event.preventDefault();
        }
        }

            function myFunction13() {
                var c = confirm("Is that correct? You choose 13");
                if (!c) {
                event.preventDefault();
        }
        }
           function myFunction14() {
                var c = confirm("Is that correct? You choose 14");
                if (!c) {
                event.preventDefault();
        }
        }
            function myFunction15() {
                var c = confirm("Is that correct? You choose 15");
                if (!c) {
                event.preventDefault();
        }
        }
        </script>

    {% endblock %}

<style type="text/css">

#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  ROUND BUTTONS
************************/
.round {
  border-radius: 50px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn-xlarge {
    padding: 50px 70px;
    font-size: 33px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }




</style>




{% endblock %}
